@model IEnumerable<Publication>
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

     <table class="table">
    <thead>
        <tr>
            <th>
                Text
            </th>
            <th>
                Username
            </th>
            <th>
                Data/Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Text
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                     <a asp-action="Likes" asp-route-id="@item.IdPub">Like</a> @item.Likes
@*                  <a asp-action="EditPublication" asp-route-id="@item.IdPub">Edit</a> |
                    <a asp-action="Details" asp-route-isbn="@item.ISBN">Details</a> |
                    <a asp-action="Delete" asp-route-isbn="@item.ISBN">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>





</div>
