@model ProjetoFinal.Models.User
@{
    ViewData["Title"] = "User Details";
}


<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>
    

<h2>Your Profile Details</h2>
<address>    
    <br> Username: @Model.Username </br>
    <br> Email: @Model.Email </br>
    <br> Password: @Model.Password </br>
    <br> First Name: @Model.FirstName </br>
    <br> Last Name: @Model.LastName </br>
    <br> Gender: @Model.Gender </br>
    <br> Mobile: @Model.Mobile </br>
</address>

@foreach(var pub in Model.Publications)
    {
        if(pub.User.UserId == @Model.UserId)
        {
            <tr>
                <td>
                    @pub.Text
                </td>
                <td>
                </td>
                <td>
                    @pub.Time
                </td>
                <td>
                    <a asp-action="EditPublication" asp-route-id="@pub.IdPub">Edit</a> |
@*                    <a asp-action="Details" asp-route-isbn="@item.ISBN">Details</a> |
                    <a asp-action="Delete" asp-route-isbn="@item.ISBN">Delete</a>*@
                </td>
            </tr>
        }
    }


</div>


