@model ProjetoFinal.Models.ProfileViewModel
@{
    ViewData["Title"] = "User Details";
}


<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>


    <h2>Your Profile Details</h2>
<div>
    <img src="/images/@Model.ProfileImage" title="Image" width=250 height=250/>
</div>
    <form method="post" enctype="multipart/form-data"
              asp-controller="Home" asp-action="UploadImage">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Update your profile picture:</p>
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
    </form>
    <form asp-action="DeleteUser" asp-route-id="@Model">
        <address>    
            <br> Username: @Model.Username </br>
            <br> Email: @Model.Email </br>
            <br> First Name: @Model.FirstName </br>
            <br> Last Name: @Model.LastName </br>
            <br> Gender: @Model.Gender </br>
            <br> Mobile: @Model.Mobile </br>
        </address>
        <button class="btn btn-danger" type="submit">Delete User</button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpdateUser" asp-route-id="@Model.UserId">Edit</a>
    </form>
    
@foreach(var pub in Model.Publications)
{
 <tr>
   <td>
     @pub.Text
   </td>
   <td>
   @Model.Username
   </td>
   <td>
   @pub.Time
   </td>
   <td>
   <a asp-action="EditPublication" asp-route-id="@pub.IdPub">Edit</a> |
   <a asp-action="ConfirmDeletePost" asp-route-id="@pub.IdPub">Delete</a>
   </td>
   </tr>
        
}
</div>


