@model ProjetoFinal.Models.ProfileViewModel
@{
    ViewData["Title"] = "User Details";
}

<div class="profile">
  
  <div class="profile-banner">
    
  </div>
  <div class="profile-picture">
    
    <a href=""><img src="/images/@Model.ProfileImage"></a>
    <span style="margin-top:50px">@Model.FirstName @Model.LastName</span>
    <br>
    <small>@Model.Username</small>
  </div>
  
  <div class="profile-content">
  
    <div class="content-left">
    
      <ul>
            <li><a><span class="entypo-book-open"></span> Total Gluglus: @Model.TotalPostByUser</a></li>
        <form asp-action="DeleteUser" asp-route-id="@Model">
            <li><a><span class="entypo-mail"></span> @Model.Email</a></li>
            <li><a><span class="entypo-phone"></span> @Model.Mobile </a></li>
            <li><a><span class="entypo-user"></span> @Model.Gender</a></li>
            <li style="text-align:center">
                <a class="btn btn-info edit-user" asp-controller="Home" asp-action="UpdateUser" asp-route-id="@Model.UserId"><span class="entypo-pencil"></span>Edit User</a>
                <button class="btn btn-danger edit-user" type="submit"><span class="entypo-cancel-circled"></span>Delete User</button>
            </li>
        </form>
            <li style="height:130px">
                <form method="post" enctype="multipart/form-data"
                      asp-controller="Home" asp-action="UploadImage">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Update your profile picture:</p>
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Update" />
                        </div>
                    </div>
                 </form>
            </li>
      </ul>
      
    </div>
     <div class="right-side">
         @foreach(var pub in Model.Publications)
{
        <div class="tweet-wrap">
            <div class="tweet-header">
                <div class="tweet-header-info">
                @Model.Username
                    <p>@pub.Text</p>
                <p>@pub.Likes likes &nbsp;&nbsp;&nbsp; @pub.Time</p> 
                <p>   <a class="btn btn-info" asp-action="EditPublication" asp-route-id="@pub.IdPub">Edit</a> |
                      <a class="btn btn-danger" asp-action="ConfirmDeletePost" asp-route-id="@pub.IdPub">Delete</a></p>
                </div>
            </div>
    </div>
    <br />
}  
</div>

<style>
    .right-side{
        margin-left:3%;
        margin-top: 0%;
    }


    .tweet-wrap {
  width:670px;
  background: #fff;
  margin: 0 auto;
  margin-top: 20px;
  border-radius:3px;
  padding: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

.tweet-header {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.tweet-header-info {
  font-weight:bold;
  font-size: 12pt;
}
.tweet-header-info p {
  font-weight:normal;
  margin-top: 5px;
  margin-right: 50px;
  font-size: 12pt;
}

p{
    max-width: 400px;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.edit-user{
    color:white;
}

.edit-user:hover{
    color:grey;
}

.profile{
  height:1200px;
  width:1000px;
  margin:0 auto;
  border-radius:10px;
  font-family:"Open Sans condensed";
  margin-bottom: 5%;
}

.profile-banner{
  height:30%;
  width:100%;
  background-image:url('/background-images/signup.jpg');
  background-size:100%;
  border-radius:10px;
}

.profile-picture{
  height:150px;
  width:150px;
  border-radius:50%;
  margin: 0 auto;
  position:relative;
  top:-90px;
  text-align:center;
  border:5px solid #fff;
}

.profile-picture span{
  font-size:20pt;
}

.profile-picture small{
  font-size:13pt;
  color:#cacaca;
}

.profile-picture img{
  border-radius:50%;
  height:100%;
  width:100%;
}

.add-frnd{
  width:90px;
  position:absolute;
  left:-130px;
  top:100px;
  background:#00A9FA;
  padding:5px;
  border-radius:10px;
  font-size:13pt;
  text-decoration:none;
  color:#fff;
  transition:0.5s;
}

.follow{
  width:70px;
  background:#00A9FA;
  border-radius:10px;
  font-size:13pt;
  text-decoration:none;
  color:#fff;
  transition:0.5s;
}

.follow span{
  font-size:13pt;
}

.add-frnd span{
  font-size:13pt;
}

.follow:hover{
  transition:0.5s;
  background:#0079FA;
}

.add-frnd:hover{
  transition:0.5s;
  background:#0079FA;
}

.profile-content{
  height:60%;
  width:100%;
}

.profile-content div{
  float:left;
}

.content-left{
  height:300px;
  width:30%;
  border-radius:10px;
  margin-top: 2%;
}

.content-middle{
  height:100px;
  width:65%;
}

/*.content-right{
  height:300px;
  width:10%;
}*/

.content-left ul{
  list-style:none;
  padding:0;
  border:1px solid #f8f8f8;
  border-radius: 10px;
}

.content-left ul li{
  padding:15px;
  /* margin-top:5px; */
  border-bottom:1px solid #f8f8f8;
}
/*
.content-right ul{
  list-style:none;
  padding:0;
  border:1px solid #f8f8f8;
  border-radius: 10px;
}

.content-right ul li{
  padding:15px;
  /* margin-top:5px; */
  border-bottom:1px solid #f8f8f8;
}*/

.content-left ul li:hover{
  transition:0.5s;
  background:#f8f8f8;
}

.content-left ul li a{
  font-size:14pt;
  color:#cacaca;
}

.content-left ul li span{
  font-size:12pt;
  margin-right:5px;
}

.content-md-left{
  width:15%;
  height:100%;
  padding-top:20px;
  text-align:center;
}

.content-md-left img{
  height:85px;
  border-radius:50%;
}

.content-md-middle{
  width:85%;
  height:250px;
  padding-top:5px;
}

.post-title-name{
  height:10%;
  width:100%;
  line-height:30px;
  padding-left:10px;
}

.post-title-name a{
  text-decoration:none;
  color:#000;
  font-size:14pt;
  font-weight:bold;
}

.post-title-name a:hover{
  transition:0.5s;
  text-decoration:underline;
  color:#121212;
}

.post-title-time{
  height:5%;
  width:100%;
  font-size:10pt;
  padding-left:10px;
  transition:0.5s;
  text-decoration:none;
  margin-top:-20px;
}

.post-title-time a{
  color:#cacaca;
}

.post-title-time a:hover{
  transition:0.5s;
  text-decoration:underline;
}


.post-desc{
  width:100%;
  height:385px;
  padding-left:10px;
  padding-top:10px;
}

.post-desc img{
  margin-top:20px;
  border-radius:10px;
}

.post-desc a:hover{
  opacity:0.8;
  transition:0.5s;
}

.post-info{
  height:10%;
  width:100%;
  border-bottom:1px solid #f8f8f8;
  margin-top:-10px;
}

.post-info ul{
  list-style:none;
  padding:0;
}

.post-info ul li{
  float:left;
  margin-right:5px;
  border-right:1px solid #f8f8f8;
}

.post-info ul li a{
  font-size:12pt;
  text-decoration:none;
  color:#cacaca;
  /* border-right:1px solid #cacaca; */
  padding-left:10px;
  padding-right:10px;
}

.like:hover{
  transition:0.5s;
  color:#00A9FA;
}

.comment:hover{
  transition:0.5s;
  color:#121212;
}

.share:hover{
  transition:0.5s;
  color:#FAB35F;
}

.content-right ul{
  padding:0;
  list-style:none;
}

.content-right ul li{
  height:50px;
  width:50px;
  display:block;
  background:#f8f8f8;
  text-align:center;
  line-height:50px;
  border-radius:50%;
  margin-top:10px;
}

.content-right ul li a{
  text-decoration:none;
  color:#00A9FA;
}

.content-right ul li:hover{
  background:#ededed;
}
</style>


