@model ProjetoFinal.Models.ProfileViewModel
@{
ViewData["Title"] = "Profile";
}

@*Page with all the information about the user, and also allows the user to edit the user profile picture*@

<body>
    <div class="profile">
        <div class="profile-banner">
        </div>
        <div class="profile-picture">
            <a href=""><img src="/images/@Model.ProfileImage"></a>
            <span style="margin-top:50px">@Model.FirstName @Model.LastName</span>
            <br>
            <small>@Model.Username</small>
        </div>
        <div class="profile-content">
            <div class="content-left">
                <ul>
                    <li><a><span class="entypo-book-open"></span> Total Gluglus: @Model.TotalPostByUser</a></li>
                    <form asp-action="DeleteUser" asp-route-id="@Model">
                        <li><a><span class="entypo-mail"></span> @Model.Email</a></li>
                        <li><a><span class="entypo-phone"></span> @Model.Mobile </a></li>
                        <li><a><span class="entypo-user"></span> @Model.Gender</a></li>
                        <li style="text-align:center">
                            <a class="btn btn-info edit-user" asp-controller="Home" asp-action="UpdateUser"
                                asp-route-id="@Model.UserId"><span class="entypo-pencil"></span>Edit User</a>
                            <button class="btn btn-danger edit-user" type="submit"><span
                                    class="entypo-cancel-circled"></span>Delete User</button>
                        </li>
                    </form>
                    <li style="height:130px">
                        <form method="post" enctype="multipart/form-data" asp-controller="Home"
                            asp-action="UploadImage">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p>Update your profile picture:</p>
                                    <input type="file" name="file" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" value="Update" />
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="right-side">
                @foreach(var pub in Model.Publications)
                {
                    <div class="tweet-wrap">
                        <div class="tweet-header">
                            <div class="tweet-header-info">
                                @Model.Username
                                <p id="gluglu">@pub.Text</p>
                                <p>@pub.Likes likes &nbsp;&nbsp;&nbsp; @pub.Time</p>
                                <p> <a class="btn btn-info" asp-action="EditPublication" asp-route-id="@pub.IdPub">Edit</a>
                                    |
                                    <a class="btn btn-danger" asp-action="ConfirmDeletePost"
                                        asp-route-id="@pub.IdPub">Delete</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</body>

<style>
    body {
        height: 100%;
    }

    [class*="entypo-"]:before {
        font-family: 'entypo', sans-serif;
    }

    p {
        max-width: 400px;
    }

    .right-side {
        margin-left: 3%;
        margin-top: 0%;
    }


    .tweet-wrap {
        width: 670px;
        background: #fff;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 3px;
        padding: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e6ecf0;
        border-top: 1px solid #e6ecf0;
    }

    .tweet-header {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
    }

    .tweet-header-info {
        font-weight: bold;
        font-size: 12pt;
    }

    .tweet-header-info p {
        font-weight: normal;
        margin-top: 5px;
        margin-right: 50px;
        font-size: 12pt;
    }

    .edit-user {
        color: white;
    }

    .edit-user:hover {
        color: grey;
    }

    .profile {
        height: 1200px;
        width: 1000px;
        margin: 0 auto;
        border-radius: 10px;
        font-family: "Open Sans condensed";
        margin-bottom: 5%;
    }

    .profile-banner {
        height: 30%;
        width: 100%;
        background-image: url('/background-images/profile-banner.jpg');
        background-size: 100%;
        border-radius: 10px;
    }

    .profile-picture {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        top: -90px;
        text-align: center;
        border: 5px solid #fff;
    }

    .profile-picture span {
        font-size: 20pt;
    }

    .profile-picture small {
        font-size: 13pt;
        color: #cacaca;
    }

    .profile-picture img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    .profile-content {
        height: 60%;
        width: 100%;
    }

    .profile-content div {
        float: left;
    }

    .content-left {
        height: 300px;
        width: 30%;
        border-radius: 10px;
        margin-top: 2%;
    }

    .content-left ul {
        list-style: none;
        padding: 0;
        border: 1px solid #f8f8f8;
        border-radius: 10px;
    }

    .content-left ul li {
        padding: 15px;
        border-bottom: 1px solid #f8f8f8;
    }

    .content-left ul li:hover {
        transition: 0.5s;
        background: #f8f8f8;
    }

    .content-left ul li a {
        font-size: 14pt;
        color: #cacaca;
    }

    .content-left ul li span {
        font-size: 12pt;
        margin-right: 5px;
    }

    .container {
        height: 100%;
    }

    #gluglu {
        text-align: justify;
        word-break: break-all;
    }
</style>